*{
    margin:0%;
    padding:0%;
}
@font-face {
    font-family: "Roboto";
    src: url("./Fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
header {
    z-index: 100;
    position: relative;
}
body {
    font-family: "roboto", "sans-serif";
    width: 100%;
    height: 100vh;
}
nav {
    margin:0 auto;
    width:100%;
    height:auto;
    display:inline-block;
    background:#353535;
    z-index: 100;
}
  
nav ul {
    margin:0;padding:0;
    list-style-type:none;
    float:center;
    display:inline-block;
}
  
nav ul li {
    position:relative;
    margin:0 20px 0 0;
    float:center;
    display:inline-block;
}
  
li > a:after { content: ' »'; }
  
li > a:only-child:after { content: ''; }
  
nav ul li a {
    padding:20px;
    display:inline-block;
    color:white;
    text-decoration:none;
}
  
nav ul li a:hover {
    opacity:0.5;
}
  
nav ul li ul {
    display:none;
    position:absolute;
    left:0;
    background:#353535;
    float:center;
}
  
nav ul li ul li {
    width:100%;
    border-bottom:1px solid rgba(255,255,255,.3);
}
  
nav ul li:hover ul {
    display:block;
}
a:hover {
	color: #44a160;
	text-decoration: none;
}
.content {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    z-index: 50;
    color: #962424;
    flex-wrap: wrap;
    flex-direction: row;
}
.tittle {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    z-index: 50;
    color: #962424;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 20px;
}
#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    overflow: hidden;
}
